In [1]:
import numpy as np

# Accessing the elements

## 1-D arrays

In [4]:
arr = np.array([1,2,3,4,5])

first_element = arr[0]
last_element = arr[-1]

print("The first element is:",first_element)
print("The last element is:",last_element)

The first element is: 1
The last element is: 5

### Get third and fourth elements from the following array and add them

In [5]:
print(arr[2]+arr[3])

7

## 2-D arrays

In [6]:
arr2 = np.array([[1,2,3,4,5,6],[7,8,9,10,11,12]])

#Accessing the element on 2nd row and 4th column

print(arr2[1,3])

10

## 3-D arrays

In [9]:
arr3 = np.array([[[1,2,3],[4,5,6],[1,2,3]],[[7,8,9],[10,11,12],[7,8,9]]])

#Printing third element of the second array of the second array
print(arr3[1,1,2])

12

# Slicing the arrays

In [14]:
slicing1 = np.array([1,2,3,4,5,6,7,8,9])

#Printing elements from second to seventh element

print("Second to seventh:",slicing1[1:7]) #Includes element at index 1 and excludes the one at 7

#Printing third to last element

print("Third to last:",slicing1[2:])

#Printing from first to fourth element (not included)

print("First to fourth:",slicing1[:3])

Second to seventh: [2 3 4 5 6 7]
Third to last: [3 4 5 6 7 8 9]
First to fourth: [1 2 3]

## Negative Slicing

In [16]:
# Slice from the index 3 from the end to index 1 from the end

print(slicing1[-3:-1]) #[.... index3, index2, index1]. Here, index3 is included,index1 is excluded.

[7 8]

# Step

In [22]:
# Return every other element from index 1 to index 5

print("Every other element from 1 to 5:",slicing1[1:5:2])

# Return every other element from the entire array

print("Every other element:",slicing1[::2])

Every other element from 1 to 5: [2 4]
Every other element: [1 3 5 7 9]

In [30]:
slicing2 = np.array([[1,2,3,4,5,6],[7,8,9,10,11,12]])

print("From the second element, slice elements from index 1 to index 4 (not included)",slicing2[1,1:4])

print("From both elements, return index 2", slicing2[0:2,2])

print("From both elements, slice index 1 to index 4 (not included), this will return a 2-D array:", slicing2[0:2,1:4])

From the second element, slice elements from index 1 to index 4 (not included) [ 8  9 10]
From both elements, return index 2 [3 9]
From both elements, slice index 1 to index 4 (not included), this will return a 2-D array: [[ 2  3  4]
 [ 8  9 10]]